h1{
    font-size: 75px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto
}
p{
    font-size: 25px;
    color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2%;
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    font-size: 50px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style du bouton */
button {
    padding: 3px 9px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left : 46%;
}

/* Changement de couleur au survol */
button:hover {  
    background-color: #d4d4d4D4;
}